<div class="column is-8">
    <article class="media box">
        <figure class="media-left">
            <p class="image is-64x64 o-hide">
            <% if user_signed_in? %>
                <%= image_tag current_user.avatar_image %>
            <% end %>
            </p>
        </figure>
        <div class="media-content">
            <%= render 'form' %>
        </div>
    </article>

<% @thoughts.each do |thought| %>
    <div class="box">
        <article class="media">
            <div class="media-left">
                <figure class="image is-64x64 o-hide">
                    <%= image_tag thought.user.avatar_image %>
                </figure>
            </div>
            <div class="media-content">
                <div class="content">
                    <strong><%=thought.user.name%></strong> <br>
                    <small><%=thought.user.username%></small> <br>
                    <p> <%= thought.thought %> </p>
                </div>
            </div>
        </article>
    </div>

<% end %>

</div>