<!DOCTYPE html>
<html>
  <head>
    <title>Thoughts</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if flash[:notice] %>
      <div class="notification is-primary global-notification">
        <p class="notice"><%= notice %></p>
      </div>
    <% end %>
    <% if flash[:alert] %>
      <div class="notification is-danger global-notification">
        <p class="alert"><%= alert %></p>
      </div>
    <% end %>
    <section class="columns is-fullheight">
      
      <aside class="column is-3 is-narrow-mobile panel is-fullheight is-hidden-mobile">
      <%= render 'profile'%>
      </aside>
      <div class="main column is-9">
      <%= render 'common/navbar'%>
        <div class="container">
          <%= yield %>
        </div>
      </div>
    </section>
  </body>
</html>
